.friendItem {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-top: 5px;
  padding: 15px;

  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 1px 1px 5px -2px rgba(101, 101, 101, 0.75);
}

.status {
  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: grey;
}

.friendName {
  font-weight: 700;
}
